<div class="row subtitle">
  <div class="col-md-12">
    <p>Featured Improvements</p>
  </div>
</div>

<div class="row row-tile">
  {% for tile in page.tiles limit: 3 %}
    {% include tiles/{{tile.layout}}.html %}
  {% endfor %}
</div>

{% if page.tiles.size > 3 %}
<div class="row subtitle">
  <div class="col-md-12">
    <p>Overall Measures</p>
  </div>
</div>

<div class="row">
  {% for tile in page.tiles offset: 3 %}
    {% include tiles/{{tile.layout}}.html %}
  {% endfor %}
</div>
{% endif %}
