
/*
 * Full-page application style
 */

body.application {
  background: #fff;
  font-family: Source Sans Pro,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
}

b {
  color: #FAC922;
}

.dash-header {
  margin: 0 0 32px;
  margin: 0 0 2rem;
  padding-left: 20px;
  padding-right: 0;
  background-color: #0071BC;
  color: #fff;
}

.header-logo {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background:#112e51 url(http://vets.gov/img/design/background/thread.png) 100% no-repeat;
  margin-left: -15px;
  font-size: 36px;
}

.header-logo span {
  padding-left: 1rem;
}

.header-logo img {
  padding-left: 15px;
}

.dash-subhead {
  padding-top: 3rem;
  padding-left: 60px;
  padding-bottom: 3rem;
  padding-right: 60px;
}

.dash-subhead a, a:hover {
    color: #fff;
}

.dash-subhead h1 {
  font-weight: bold;
}

.dash-subhead p {
  font-size: 16px;
}

.btn-app {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 3px;
}

.btn-app:hover {
  color: #fff;
}

.dash-content {
  padding-left: 20px;
  padding-right: 20px;
}

.ux-compare {
  padding-top: 3rem;
}

.ux-compare .title {
  font-weight: bold;
  font-size: 24px;
  color: #0071BC;
}

.subtitle {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.subtitle p {
  font-weight: bold;
  font-size: 36px;
  color: #112e51;
}

body.application div[class^="col-"] {
  padding-left: 5px;
  padding-right: 5px;
}

body.application div[class^="col-"] div[class^="col-"] {
  padding-left: 15px;
  padding-right: 15px;
}

.label-status {
  vertical-align: super;
  font-size: 12px;
}

.category-header {
  text-align: center;
}

.chart-wrapper {
  background: #F5F5F5;
  margin-bottom: 10px;
}
.chart-wrapper .chart-title {
  color: #112e51;
  font-size: 24px;
  font-weight: 600;
  padding: 10px 10px 4px;
  min-height: 85px;
}

.chart-wrapper .chart-stage {
  overflow: hidden;
  padding: 5px 10px;
  position: relative;
  min-height: 150px;
}

.chart-stage .datapoint {
  font-size: 72px;
  font-weight: 700;
  color: #0071BC;
}

.chart-wrapper .chart-notes {
  color: #808080;
  font-size: 12px;
  padding: 8px 10px 5px;
  min-height: 32px;
}
